<footer>
  <section id="contact" class="container content-section text-center">
    <div class="col-lg-8 col-lg-offset-2">
      <h4>Enlaces de Interés</h4>
        <div class="carousel slide" id="enlaces" data-ride="carousel">
          <div>
          <!-- Indicators -->
          <ol class="carousel-indicators enlaces-interes">
            <% for (let enl = 0; enl < Math.ceil(groups.length / 6); enl++) { %>
              <% if (enl == 0) { %>
                <li data-target="#enlaces" data-slide-to="<%= enl %>" class="active"></li>
              <% } else { %>
                <li data-target="#enlaces" data-slide-to="<%= enl %>"></li>
              <% } %>
            <% } %>
          </ol>
        </div>
        <div class="carousel-inner" role="listbox">
          <% let l=0;%>
          <% for (group in groups) { %>
            <% let link = (l === 0) ? "item active" : "item" %>
            <% if (l % 6 === 0) { %>
            <div class="<%= link %>">
              <% } %>
              <% if (l % 6 === 0) { %>
              <div class="row">
                <% } %>
                <div class="col-lg-2 col-sm-3 col-xs-4 link">
                  <% if (groups[group].link !== "") { %>
                    <a href="<%= groups[group].link %>" target="_blank">
                  <% } %>
                  <img src="img/groups/<%= groups[group].name %>.svg" alt="">
                  <% if (groups[group].link !== "") { %>
                    </a>
                  <% } %>
                </div>
                <% if (l % 6 === 5) { %>
              </div>
                <% } %>
              <% if (l % 6 === 6 - 1) { %>
            </div>
            <% } %>
            <% l++; %>
            <% } %>
        </div>
        </div>
    </div>
    <div class="col-lg-12">
      <hr />
      <h1>Contacto</h1>
      <!-- <div class="col-lg-6 col-sm-12" style="text-align: left;">
        <p class="oswald">Enlaces de Interés</p>
        <ul>
          <li><a href="#">Universidad Tecnológica de Pereira</a></li>
          <li><a href="#">Grupo de Investigación Sirius</a></li>
        </ul>
      </div> -->
      <!-- <div class="col-lg-6 col-sm-12"> -->
      <div class="col-lg-12 col-sm-12">
        <form class="" action="/contact" method="post" onsubmit="return confirm('¿Está seguro de enviar el mensaje?')">
          <input type="text" name="name" placeholder="NOMBRE" value="" autocomplete="off" required="" />
          <input type="email" name="email" placeholder="EMAIL" value="" autocomplete="off" required="" />
          <textarea name="text" rows="4" placeholder="MENSAJE" required=""></textarea>
          <input type="submit" class="btn" name="" value="ENVIAR" style="width: inherit">
        </form>
      </div>
    </div>
  </section>
  <div class="follow">
    <section class="container content-section">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="col-lg-2 col-xs-12 oswald">
          SÍGUENOS
        </div>
        <div class="col-lg-10 col-xs-12">
          <a href="//facebook.com/jointDeveloper" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="//twitter.com/jointdev" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="//www.youtube.com/channel/UC1hMrYBNsvKnufvG8t6q7ZQ" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
          <a href="//instagram.com/jointdeveloper" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="//snapchat.com/add/jointDev" target="_blank"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a>
          <a href="//github.com/jointDeveloper" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="//plus.google.com/u/1/113539795181089700851" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          <a href="//www.linkedin.com/company/16226960" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="//jointdeveloper.com/slack" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i></a>
          <a href="//medium.com/@jointdeveloper" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
          <a href="//www.meetup.com/es/jointDeveloper/" target="_blank"><i class="fa fa-meetup" aria-hidden="true"></i></a>
          <a href="mailto:developerjoint@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
      </div>
    </section>
  </div>
</footer>
