<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>jointDeveloper</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">
    <!-- <link rel="shortcut icon" href="/img/favicon.ico"> -->

    <!-- Custom Fonts -->
    <link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Linden+Hill:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top">jointDeveloper</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li>
              <a class="page-scroll" href="#about">Acerca de</a>
            </li>
            <li>
              <a class="page-scroll" href="#event">Eventos</a>
            </li>
            <li>
              <a class="page-scroll" href="#comunity">Comunidad</a>
            </li>
            <li>
              <a class="page-scroll" href="#blog">Blog</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contacto</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div><img src = "img/logo.png" class="img-responsive" style = "width: 100%; max-width: 350px; margin: 0 auto;"/></div>
              <h1 class="brand-heading roboto">
                Comunidad y Semillero de Investigación de la<br /> <b>Universidad Tecnológica de Pereira</b>
              </h1>
              <div class="row">
                  <% if(next[0].title !== ``) { %>
                    <div class="col-lg-12">
                      <h1 class="brand-heading oswald"><%= next[0].alert %></h1>
                      <div class="brand-heading oswald"><%= next[0].title %></div>
                      <h3><i class="fa fa-calendar" aria-hidden="true"></i> <%= next[0].date %> <i class="fa fa-clock-o" aria-hidden="true"></i> <%= next[0].hour %></h3>
                      <p class="oswald">
                        <b>Más información</b>
                      </p>
                    </div>
                  <% } else if(next[1].title !== ``) { %>
                    <div class="col-lg-12">
                      <h1 class="brand-heading oswald"><%= next[1].alert %></h1>
                      <div class="brand-heading oswald"><%= next[1].title %></div>
                      <h3><i class="fa fa-calendar" aria-hidden="true"></i> <%= next[1].date %> <i class="fa fa-clock-o" aria-hidden="true"></i> <%= next[1].hour %></h3>
                      <p class="oswald">
                        <b>Más información</b>
                      </p>
                    </div>
                  <% } %>
              </div>
              <a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <div class="about">
      <section id="about" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Acerca de</h1>
          <p>Somos una comunidad que busca generar interés en la   mujer en áreas programación y tecnológia, por medio de espacios diversos que promueva su participación.
          </p>
          <p>Esta comunidad comparte conocimientos y recursos técnicos que ayudan a crear una red de intercambio con otras comunidades fortaleciendo nuestra formación y contribuyendo al desarrollo tecnológico.
          </p>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Miembros</h1>
            <% let i = 0; %>
            <%  for (profile in profiles) { %>
              <% if(i % 4 === 0) { %>
                <div class="row">
              <% } %>
              <div class="col-lg-3 col-sm-6 col-xs-6">
                <img src="<%= profiles[profile].img %>" class="profileImg" alt="" />
                <h4><%= profiles[profile].name %></h4>
              </div>
              <% if(i % 4 === 3) { %>
                </div>
              <% } %>
            <% i++; %>
            <% } %>
          </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <div class="col-lg-4 col-sm-6 col-xs-6 col-lg-offset-4 col-sm-offset-3 col-xs-offset-3">
            <img src="/img/profile/profile.svg" class="profileImg" alt="" />
          </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
          <div class="col-lg-12 col-sm-12 col-xs-12">
          <h4>
            <b>Tú</b><br />
            También puedes ser parte de nuestra Comunidad<br />
            <a href="#"><b>Más información</b></a>
          </h4>
          </div>
        </div>
      </div>
    </section>
    </div>
    <!-- Register Section -->
    <div class="events">
      <section id="event" class="content-section text-center">
        <div class="container">
          <div class="col-lg-8 col-lg-offset-2">
            <h1>Eventos</h1>
            <p>Realizamos charlas mensuales sobre diferentes temas para incentivar y animar a más personas a que hagan parte de esta comunidad.
            </p>
            <% let j = 0; let event = false; %>
            <% if(next[0].title !== ``) { %>
              <% j++; event = true; %>
              <div class="row">
                <div class="col-lg-4 col-sm-12 event" style="padding: 10px;">
                  <h2><%= next[0].alert %></h2>
                  <p class="oswald"><%= next[0].title %></p>
                  <h4><i class="fa fa-calendar" aria-hidden="true"></i> <%= next[0].date %> <i class="fa fa-clock-o" aria-hidden="true"></i> <%= next[0].hour %></h4>
                  <h4><i class="fa fa-map-marker" aria-hidden="true"></i> <%= next[0].place %></h4>
                  <a class="btn">INSCRIPCIÓN</a>
                </div>
            <% } %>
            <% for (charla in charlas) { %>
              <% j++; %>
              <% if (j % 3 === 1) { %>
                <div class="row">
              <% } %>
              <div class="col-lg-4 col-sm-12 event"
                <% if (charlas[charla].image !== ``) { %>
                  style="background-image: url(/img/charla/<%= charlas[charla].image %>/intro.jpg)"
                <% } %>
              >
                <div class="overlay">
                  <% if (charlas[charla].image !== ``) { %>
                    <img src="/img/charla/<%= charlas[charla].image %>/logo.png" />
                  <% } %>
                  <h3><%= charlas[charla].title %></h3>
                  <h4><i class="fa fa-calendar" aria-hidden="true"></i> <%= charlas[charla].date %> <i class="fa fa-clock-o" aria-hidden="true"></i> <%= charlas[charla].hour %></h4>
                  <h4><i class="fa fa-map-marker" aria-hidden="true"></i> <%= charlas[charla].place %></h4>
                  <a class="btn">DETALLES</a>
                </div>
              </div>
              <% if (j % 3 === 0) { %>
                </div>
              <% } %>
            <% } %>
            <% if (event) { %>
              <% if ((charlas.length + 1) % 3 !== 0) { %>
                </div>
              <% } %>
            <% } else if (charlas.length % 3 !== 0) { %>
              </div>
              <% } %>
            <br />
            <p>Descubre los eventos que hemos realizado y anímate a ser parte de ellos.</p>

<!--
            <div id="box">

              <div id="overlay">
                <span id="plus">Hola</span><br />
                <button>Botón</button>
              </div>

            </div> -->


            <% let k = 0; let ev = false  %>
            <% if(next[1].title !== ``) { %>
              <% k++; ev = true %>
              <div class="row">
                <div class="col-lg-6 col-sm-12 event">
                  <h2><%= next[1].alert %></h2>
                  <p class="oswald"><%= next[1].title %></p>
                  <h4><i class="fa fa-calendar" aria-hidden="true"></i> <%= next[1].date %> <i class="fa fa-clock-o" aria-hidden="true"></i> <%= next[1].hour %></h4>
                  <h4><i class="fa fa-map-marker" aria-hidden="true"></i> <%= next[1].place %></h4>
                  <a class="btn">INSCRIPCIÓN</a>
                </div>
            <% } %>
            <% for (event in events) { %>
              <% k++; %>
              <% if (k % 2 === 1) { %>
                <div class="row">
              <% } %>
              <div class="col-lg-6 col-sm-12 event">
                <div class="overlay">
                  <h2><%= events[event].title %></h2>
                </div>
              </div>
              <% if (k % 2 === 0) { %>
                </div>
              <% } %>
            <% } %>
            <% if (ev) { %>
              <% if ((events.length + 1) % 2 !== 0) { %>
                </div>
              <% } %>
            <% } else if (events.length % 2 !== 0) { %>
              </div>
              <% } %>
            <br />
          </div>
        </div>
      </section>
    </div>

    <!-- Contact Section -->
    <section id="comunity" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Comunidad</h1>
          <p>Si tienes dudas, preguntas o comentarios, por favor escribenos!

        </div>
      </div>
    </section>

    <!-- Map Section -->
    <div class="blog">
      <section id="blog" class="container content-section text-center">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Blog</h1>
        </div>
      </section>
    </div>

    <!-- Footer -->
    <footer>
      <section id="contact" class="container content-section text-center">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Contacto</h1>
          <div class="col-lg-6 col-sm-12">
            <p class="oswald">Enlaces de Interés</p>
          </div>
          <div class="col-lg-6 col-sm-12">
            <form class="" action="index.html" method="post">
              <input type="text" name="name" placeholder="NOMBRE" value="" />
              <input type="text" name="email" placeholder="EMAIL" value="" />
              <textarea name="text" rows="4" placeholder="MENSAJE"></textarea>
              <input type="submit" class="btn" name="" value="ENVIAR">
            </form>
          </div>
        </div>
      </section>
      <div class="follow">
        <section class="container content-section">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="oswald">
              SÍGUENOS
              <a href=""><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-snapchat-ghost fa-3x" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-google-plus fa-3x" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-slack fa-3x" aria-hidden="true"></i></a>
            </div>
          </div>
        </section>
      </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA58q2BYIJqsv8FOT5Rhh_3pXWnrPgmoZs"></script>-->
    <%# <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key= AIzaSyAwKTx32i9LUE1KGf3TY5cQ7DQuGfRGgeM "></script>%>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>
    <script src="js/height.js"></script>

  </body>

</html>
